<!DOCTYPE html>
<html>
  <head>
    <title>DIGI-STORE</title>
    <link href='/https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>DIGI-STORE</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/dlogo.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
	
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="/css/listing.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

	<link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      font-weight: 400;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
      }
      input:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      th, td {
      width: 28%;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;
      text-align: center;
      vertical-align: unset;
      line-height: 18px;
      font-weight: 400;
      word-break: break-all;
      }
      .first-col {
      width: 16%;
      text-align: left;
      }
      textarea:hover {
      outline: none;
      border: 1px solid #1c87c9;
      }
      table {
      width: 100%;
      }
      textarea {
      width: calc(100% - 6px);
      }
      .question {
      padding: 15px 0 5px;
      color: #095484;
      }
      .question-answer label {
      display: block;
      padding: 0 20px 10px 0;
      }
      .question-answer input {
      width: auto;
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background-color: #0666a3;
      }
      @media (min-width: 568px) {
      th, td {
      word-break: keep-all;
      }
      }
    </style>
  </head>
  <body>
      	
	<div id="page">
		
    <header class="version_1">
            <div class="layer"></div><!-- Mobile menu overlay mask -->
            <div class="main_header">
                <div class="container">
                    <div class="row small-gutters">
                        <div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
                            <div id="logo">
                                <a href="#"><img src="/img/dlogo.png" alt="" width="20%" height="20%"></a>
                            </div>
                        </div>
                        <nav class="col-xl-6 col-lg-7">
                            <a class="open_close" href="javascript:void(0);">
                                <div class="hamburger hamburger--spin">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                            </a>
                            <!-- Mobile menu button -->
                            <div class="main-menu">
                                <div id="header_menu">
                                    <a href="#"><img src="dlogo.png" alt="" width="100" height="35"></a>
                                    <a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/Customerdashboard?id=<%=user_id%>">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/Customerviewallstores/<%=user_id%>">Stores</a>
                                    </li>
                                    <li>
                                        <a href="/Customershowallproducts/<%=user_id%>">Products</a>
                                    </li>
                                    <li>
                                        <a href="/Cart/<%=product_id_token%>/<%=user_id%>">Cart</a>
                                    </li>
                                    <li>
                                        <a href="#">Feedback</a>
                                    </li>
                                    <li>
                                        <a href="/logout">LOG OUT</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/main-menu -->
                        </nav>
                        <div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-right">
                            <%if(loginUser!=" "){%>
                                <a class="phone_top" href="#">Logged in as:  <%= loginUser %> (Customer)</a>
                            <%}%>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /main_header -->
    
            <!-- /main_nav -->
    </header>
    <main>
    <div class="testbox">
      <form action="/Customerfeedback/<%=user_id%>" method="post" role="form">
        <h1 style="color: #084cdc;font-family: cursive;font-weight:bold;font-size: 40px;">Feedback</h1>
        <% if(Msg !=''){ %>
            <p %>style="text-align:center;font-weight:bold;">   <%=Msg%></p>
        <% } %>
        <p class="question">Who are you?</p>
        <div class="question-answer">
          <label><input type="radio" value="Customer" name="q0" required/> Customer</label>
          <label><input type="radio" value="Seller" name="q0" required/> Seller</label>
        </div>
        <p class="question">Is this the first time you have visited the website?</p>
        <div class="question-answer">
          <label><input type="radio" value="yes" name="q1" required/> yes</label>
          <label><input type="radio" value="no" name="q1" required/> no</label>
        </div>
        <p class="question" >What is the PRIMARY reason you came to the site?</p>
        <textarea rows="5" name="q2" required></textarea>
        <p class="question">Did you find what you needed?</p>
        <div class="question-answer">
          <label><input type="radio" value="Yes, all of it" name="q3" required/> Yes, all of it</label>
          <label><input type="radio" value="Yes, some of it" name="q3" required/> Yes, some of it</label>
          <label><input type="radio" value=" No, none of it" name="q3" required/> No, none of it</label>
        </div>
        <p class="question">If you did not find any or all of what you needed, please tell us what information you were looking for.</p>
        <textarea rows="5" name="q4" required></textarea>
        <p class="question">Please tell us how easy it is to find information on the site.</p>
        <div class="question-answer">
          <label><input type="radio" value="Very Easy" name="q5" required/> Very Easy</label>
          <label><input type="radio" value="Easy" name="q5" required/> Easy</label>
          <label><input type="radio" value="Average" name="q5" required/> Average</label>
          <label><input type="radio" value="Difficult" name="q5" required/> Difficult</label>
          <label><input type="radio" value="Very Difficult" name="q5" required/> Very Difficult</label>
        </div>
        <p class="question">What is the likelihood that you will visit the website again?</p>
        <div class="question-answer">
          <label><input type="radio" value="Extremely likely" name="q6" required/> Extremely likely</label>
          <label><input type="radio" value="Very likely" name="q6" required/> Very likely</label>
          <label><input type="radio" value="Moderately likely" name="q6" required/> Moderately likely</label>
          <label><input type="radio" value="A Slightly likely" name="q6" required/> A Slightly likely</label>
          <label><input type="radio" value="Not at all likely" name="q6" required/> Not at all likely</label>
        </div>
        <p class="question">Please add any comments you have for improving the website. We welcome suggestions on specific areas for improvements, features you would like to see added to the site, and examples of what you consider good websites.</p>
        <textarea rows="5" name="q7" required></textarea>
        <div class="btn-block">
          <input style="background-color: #084cdc;color: beige;" type="submit" name="submit" value="Submit"/>
        </div>
      </form>
    </div>
</main>
<footer class="revealed">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_1">Quick Links</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul>
                        <li><a href="/Customerdashboard?id=610568231278cc00fc048d31">Dashboard</a></li>
                        <li><a href="/Customerviewallstores/610568231278cc00fc048d31">Stores</a></li>
                        <li><a href="/Customershowallproducts/610568231278cc00fc048d31">Products</a></li>
                        <li><a href="account.html">My account</a></li>
                        <li><a href="/Cart/6104f5c55883541c5016f19a/610568231278cc00fc048d31">Cart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_2">Users</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_2">
                    <ul>
                        <li><a href="/Customerfeedback/610568231278cc00fc048d31">Feedback</a></li>
                        <li><a href="/logout">LOG OUT</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_3">Contacts</h3>
                <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                    <ul>
                        <li><i class="ti-headphone-alt"></i>+92 301-2345678</li>
                        <li><i class="ti-email"></i><a href="#0">info@digistore.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <div class="row add_bottom_25" style="width: 800px; margin-left: 350px;">
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">Terms and conditions</a></li>
                    <li><a href="#0">Privacy</a></li>
                    <li><span>© 2021 DIGI-STORE</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="/js/common_scripts.min.js"></script>
    <script src="/js/main.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="/js/sticky_sidebar.min.js"></script>
	<script src="/js/specific_listing.js"></script>
		
  </body>
</html>